AccessModifierOffset: -4
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100